extend ../layout

block head
  style(type='text/css').
    #download-visualisation{
      display:none;
      margin-left:20px;
    }

block content
  h1 Arc
  #visualisation

  form#visualisation-options
    div.form-field
      label(for='percentage') Percentage to display
      input(type='text', name='percentage', placeholder='e.g. 72.5')
      | %
    div.form-field
      label(for='background') Background color
      input(type='text', name='background', placeholder='e.g. #abcdef')
    div.form-field
      label(for='foreground') Foreground color
      input(type='text', name='foreground', placeholder='e.g. #abcdef')
    div.form-field
      input(type='submit', value='Generate visualisation')
      a(href='#', title='Right click > Save as... to download visualisation', target='_blank', download='arc.svg', style='display:none')#download-visualisation Download as SVG

block scripts
  script.
    $(document).ready(function(){
      widgekraft.arc.init();

      $('#visualisation-options').on('submit', function(e){
        e.preventDefault();
        var options = {};
        $.each($(this).serializeArray(), function(i, o) {
          if (o.value) {
            if (o.name === 'percentage' && o.value > 100) {
              o.value = "100";
            }
            options[o.name] = o.value;  
          }
        });

        widgekraft.arc.init(options);
      });
    });
