extends ../layout

block content
  h1 404 - Page not found

  section
    p Oops, this is embarrassing, looks like #{url} doesn't exist! 
      a(href='/', title='Go back to the homepage') Go back to the home page?