extends ../layout

block content
  h1 500 Internal Server Error

  section
    p Oops, looks like we've got a problem! 
      a(href='/', title='Go back to the homepage') Go back to the home page?
    div.stack-trace= error