- var pages = [{ title: 'Home', href: '/' }]

header#site-header
  div#logo
    a(href="/", title="Widgekraft") Widgekraft

  nav#site-menu
    ul
      each page in pages
        li
          a(href="#{page.href}", title="#{page.title}")= page.title