extend ../layout

block content
  h1 Welcome to Widgekraft

  p Pick a visualisation below to start!

  ul
    li: a(href='/chart/arc', title='Arc') Arc
    li: a(href='/chart/pawn', title='Pawnograph') Pawnograph