doctype html
html
  head
    if title
      title #{title} - Widgekraft
    else
      title Widgekraft - Sorcery for your data
    // if lt IE 9
      link(rel="stylesheet", href="/css/index.ie.css")
    // [if gt IE8] <!
    link(rel="stylesheet", href="/css/index.css")
    // <!endif]
    block head
  body
    include shared/header

    main(role='main')#content
      block content

    include shared/footer

    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js')
    script(type='text/javascript', src='/javascript/widgekraft.js')
    block scripts